html, body {
	margin: 0;
	padding: 0;
}

h2, h4 {
	text-align: center;
}

button {
	border: none;
	padding: 6px 12px;
	color: #fff;
	font-weight: 600;
	border-radius: 4px;
}

.container {
	width: 980px;
	margin: auto;
}

.row {
	display: flex;
	justify-content: space-around;
}

#addScores {
    width: 100%;
    display: flex;
}

#addScores div {
    width: 30%;
    margin: auto;
}

#addScores input {
    display: block;
    margin: auto;
}

#addScores label {
    display: block;
    font-weight: bold;
    text-align: center;
}

#addScores .enter {
    display: block;
    margin: 10px auto;
}

#scores {
    text-align: center;
}

.enter {
	background-color: #f4a041;
}

.delete {
	background-color: #bc2020;
}

#roundScores {
    float: left;
}

#totalScores {
    float: right;
}

th {
	font-size: 1.2em;
}

th, td {
	min-width: 100px;
    text-align: center;
	padding: 10px 5px;
}
